[submodule "pack/plugins/start/python-mode"]
	path = pack/plugins/start/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/plugins/start/awesome-vim-colorschemes"]
	path = pack/plugins/start/awesome-vim-colorschemes
	url = https://github.com/rafi/awesome-vim-colorschemes.git
